.projects {
  background: #374BAA;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}

.projects__project-container {
  display: flex;
  width: 70%;
  margin: 0 auto;
}

.projects__text-container {
  display: flex;
  padding: 20px;
}

.projects__text {
  color: white;
}

.projects__carousel {
  width: 100%;
  margin: 0 auto;
}
