.project {
  display: flex;
  flex-flow: column;
}

.project__item {
  height: 300px;
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-left: 5px;
  margin-right: 5px;
}

.project__button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.project__open-link {
  text-decoration: none;
}

.project__open-button {
  justify-content: center;
  width: 100px;
  transition: 200ms;
}
