.project {
  display: flex;
  flex-flow: column;
}

.project__item {
  height: 300px;
  width: 33.333%;
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-left: 8px;
  margin-right: 8px;
}

.project__button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.project__open-link {
  text-decoration: none;
}

.project__open-button {
  justify-content: center;
  width: 100px;
  transition: 200ms;
}

.project__title-container {
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 0.5rem 0.5rem 0 0;
}

.project__title-text {
  color: white;
  font-size: 1.5rem;
}

.project__description-container {
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  bottom: 0;
  width: 100%;
  overflow: hidden;
}

.project__description-text {
  font-size: 10px;
  color: white;
}

@media only screen and (max-width: 1280px) {
  .project__item {
    width: 100%;
  }
}
