.button {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  padding: 1.0rem;
  border: none;
  border-radius: 0.5rem;
  background: #00e0ca;
  color: white;
  font-weight: bold;
  border: 2px solid #000;
  box-shadow: 3px 4px 0px 1px #000;
  border-radius: 4px;
  text-transform: uppercase;
}

.button:hover {
  cursor: pointer;
  border: 2px solid white;
  box-shadow: 0 0 2px white;
}
