.button {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  padding: 1.0rem;
  border: none;
  border-radius: 0.5rem;
  background: #00e0ca;
  color: white;
  font-weight: bold;
}

.button:hover {
  cursor: pointer;
  text-shadow: 0em 0em 1em #00e0ca;
  box-shadow: 0 0 1em #00e0ca;
}
