.card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  width: 100%;
  height: 300px;
  background: grey;
  margin-top: 10px;
  flex-flow: row;
}

.card__background-wrapper {
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 300px;
  border-radius: 0.5rem;
}

.card__background {
  border-radius: 0.5rem;
  width: 100%;
  height: 300px;
}

.card__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
}

.card__content:hover {
  text-shadow: 0em 0em 0.5rem grey;
  box-shadow: 0 0 0.75rem #00e0ca;
}

.--empty {
  background: #374BAA;
}

.--empty:hover {
  text-shadow: 0em 0em 1em #374BAA;
  box-shadow: 0 0 1em #374BAA;
}
