.header {
  background: lightblue;
}

.header__navbar-content {
  padding: 20px;
  top: 0;
  display: flex;
  align-items: center;
  height: 50px;
}

.header__text-container {
  display: flex;
  width: 50%;
}

.header__social-links {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header__github-link {
  margin: 5px;
}

.header__linkedin-link {
  margin: 5px 0px 5px 5px;
}

.header__github-svg {
  stroke: black;
}

.header__banner-content {
  height: 500px;
  background: #007aff;
}
