.header {
  background: #374BAA;
}

.header__navbar-content {
  padding: 20px;
  top: 0;
  display: flex;
  align-items: center;
  height: 50px;
}

.header__text-container {
  display: flex;
  width: 50%;
}

.header__site-name {
  color: white;
}

.header__social-links {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header__banner-content {
  height: 1000px;
  background: #00e0ca;
}

@media only screen and (max-width: 360px) {
  .header__site-name {
    align-items: center;
    font-size: 1rem;
  }
  .header__navbar-content {
    padding: 10px;
  }
}
